@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 2.4em;
  font-family: Fredoka One;
  color: #FFFAFA;
  margin-top: 1.1em;
  margin-left: 3em;
}

.menu {
  width: 60%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #FFFAFA;
}

.menu li {
  font-family: Oswald;
  font-size: 2em;
  margin-top: 1em;
}

.menu li:hover{
  color: blueviolet;
}



